.header {
  display: flex;
  height: 4.2rem;
  padding: 0.7em 1em;
  margin-bottom: 1em;
  background-color: black;
  color: white;
  .logo {
    display: flex;
    align-items: center;
    margin-right: 1em;
    .img {
      margin-right: 0.5em;
    }
    .title {
      line-height: 1;
    }
  }
  .input {
    flex-basis: 100%;
    font-size: 1.2rem;
    padding: 0 0.5em;
    outline: 0;
  }
  .button {
    border: 0;
    background-color: darkgray;
    cursor: pointer;
    .buttonImg {
      height: 100%;
      padding: 0.5em 0.2em;
    }
  }
}
